NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB0424jEs1Sh3g1v0FCrPsGy7Z_KtPa1Ek
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=leap-2df27.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://leap-2df27-default-rtdb.firebaseio.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=leap-2df27
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=leap-2df27.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=406596219117
NEXT_PUBLIC_FIREBASE_APP_ID=1:406596219117:web:af892dd5891eb1079a5ce4



# Firebase PostgreSQL (Cloud SQL) connection string
# Get from Firebase Console > Build > Cloud SQL (PostgreSQL)
DATABASE_URL=postgresql://user:password@/dbname?host=/cloudsql/project:region:instance

# OR use individual fields:
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hab_telemetry
DB_USER=postgres
DB_PASSWORD=your_db_password
